.header-image {
  position: relative;
}

.navigation-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-bar li {
  display: inline-block;
}

.navigation-bar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
